.C1
{
padding: 10px;
line-height: 100px;
background: #0082e6;
font-family: 'Prompt', sans-serif;
font-size: 30px;
}
.C5
{
font-family: 'Prompt', sans-serif;
border-radius: 10px;
width: 80px;
height: 40px;
color: black;
background-color: white;

}
.C5:hover
{color: white;
	background-color: black;
	transition: 1s;
}
.B1
{
	margin-left: 1150px;
	margin-top: -130px;
}
table
{
	padding: 10px;
}
table, th, td{
  border: 1px solid #0082e6;
  border-collapse: collapse;
  font-family: 'Prompt', sans-serif;

}

th
{
	width: 300px;
	height: 80px;
	font-size: 30px;
}
td
{
	height: 50px;
	padding: 10px;
	text-align: center;
	font-size: 20px;

}
.T1
{

	margin: 5px;
}
tr:nth-child(odd) {
  background: white;
}

tr:nth-child(even) {
  background: #E1FAFE ;
}
.H1
{
	width: 120px;
}
.H3, .H2
{
	width: 200px;
}
.C2
{
	font-family: 'Prompt', sans-serif;
font-size: 30px;

}
